.page-header {
	/*
	background-color: #C25100;
	*/
	background-color: #ffffff;
	width: 100%;
	margin-top: 0;
	padding: 0px 20px 10px 30px;
}
.page-header h1 {
	/*
	color: #ffffff;
	font-family: 'Julius Sans One', serif;
	*/
	font-family: 'Alegreya Sans SC';
	font-size: 24pt;
	text-decoration: none;
}
.page-header p {
	/*
	color: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	*/
	font-family: 'Alegreya Sans SC';
	font-size: 15pt;
	font-style: italic;
	text-align: justify;
	text-justify: inter-word;
}
.content {
	width: 100%;
	margin-left: 15px;
}

